
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 95%;
    max-height: 900px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: url(/static/images/banner.png);
    background-size:100%;
    background-attachment:fixed;

}


.info{
    max-height: max-content;
    margin: 20px 0px;
    text-align: center;
    padding-left: 0px;
    padding-bottom:10px ;
}

.head-info{
    display: block;
    max-height: max-content;
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom:10px ;
    
}
.head-tipo{
    border: 2px solid #000000 ;
}

.head-contenido{
    display: flex; 
}

.head-contenido1{
    list-style: none; 
    margin-right: auto; 
}

.head-contenido1 label{
    font-weight: 700;
}

.head-contenido2 label{
    font-weight: 700;
}

.head-contenido ul{
    list-style: none;
}


.head-contenido2{
    justify-content: end;
    padding-right: 20px;   
}


.headers{
   
height: 100px;
width: auto;
padding: 10px 10%;
border-radius: 10PX;
display: flex;
justify-content: center;
align-items: center;
}




.headers .logo img{
    height: 50px;
    width:95px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
  }  
  
  .headers .logo{
   cursor: pointer;
  }
  
  .headers .logo img:hover{
     transform: scale(1.2);
     }


     .menu nav {
        background-color: #333;
        overflow: hidden;
      }
      
      .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      .menu li {
        float: left;
      }
      
      .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .menu li a:hover {
        background-color: #111;
      }

      @media screen and (max-width: 600px) {
        .menu li {
          float: none;
        }
      }

.headers .btn button{
    font-weight: 700;
    color: #ff1b02;
    padding: 9px 25px;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    transform: all 0.3s ease 0s;
    cursor: pointer;
}

.headers .btn button:hover{
    transform: scale(1.1);
    background-color: #000000;
    color: gold;
}

table{
  margin: 0px 0px;  
  width:auto;
display: flex;
}


th, td {
    width:max-content;
    border:1px solid  black;
    color: #000000;
  }

/*select{
    border: 0; 
    background: transparent;    
}*/

/*input{
    border: 0; 
    background: transparent; 
   }*/


   .btn button{
    margin-top: 5px;    
    width: 20vw; 
    font-size: medium;
    height: max-content;
    background: #0217ff;   
    }
    
    .btn button:hover{
        background: #ff1b02;
        color: #fff;
    } 



.input-contenedor h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
.input-contenedor select{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;

}






.input-contenedor{

    margin-bottom: 15px;
    overflow: hidden;
}


.input-contenedor select{
    margin-left: 52px;
    margin-bottom: 15px;
    overflow: hidden;
}



.input-contenedor .icon{
    min-width: 50px;
    text-align: center;
}


.input-contenedor .icon select{
    min-width: 20px;
    text-align: center;
}

.adm{
   color: #ff1b02; 
   padding: 5px;
   border: 1px black;
}

.head-info-adm{
    display: block;
    max-height: max-content;
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom:10px ;   

}

.head-info-adm-up{
    display: block;
    max-height: max-content;
    margin: 5px 0px;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom:5px ;   

}

.head-info-adm-down{
    display: inline-block;
    max-width: min-content;
    max-height: max-content;
    margin: 5px 0px;
    text-align: center;
    justify-content: center;
    padding-left: 0px;
    padding-bottom:5px ;   

}

.pago{
    margin:auto;
    background-color: #000000;
    color: white;
    font-size: 12px;
    padding: 30px;
    width: 400px;
    border:solid 10px LightSteelBlue;
    overflow: hidden;
    margin-bottom: 10px;
    }
    
    .pago fieldset{
    border: none;
    }
    

    
    .pago  ol li{
    line-height: 25px;
    list-style: none;
    }
    
    .pago  [required]{
    border:solid 1px red;
    }
    
    .pago input:required {
    outline: 1px solid red;
    }

    .pago select{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 40px;

        width: 150px;
      }
      .pago select option{
        background:black;
        color:red;
      }
      .pago select option:disabled{
        background: blue;
      }

      .pago input{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 40px;

        width: 150px;
        }

    .pago button{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        width: 150px;
        height: 25px;
        margin-left: 60px;

        width: 150px;
        }

    .socios option {
background-color: #ddd;
color: black;

    }

    .socios input{
        font-size:14px;
        background: yellow;
        width:auto;
        }



    
    .encabezado{
        margin:auto;
        background-color: #000000;
        color: white;
        font-size: 14px;
        padding: 30px;
        width: 400px;
        border:solid 5px  LightSteelBlue;
        overflow: hidden;
    }        
    .encabezado input{
        font-size:14px;
        color: white;
        width:200px;
        }
        
        .encabezado ul li{
            line-height: 25px;
            list-style: none;
            padding: 4px;
            }


        .login{
            margin:auto;
            background-color: #000000;
            color: white;
            font-size: 12px;
            padding: 30px;
            width: 400px;
            border:solid 10px LightSteelBlue;
            overflow: hidden;
            margin-bottom: 10px;
            }

            .login  ol li{
                line-height: 25px;
                list-style: none;
                padding: 4px;
                }


            .login input{
            font-size:12px;
            background: yellow;
            border:solid 1px Green;
            border-radius: 5px;
            float: right;
            width: auto;
            margin-right: 40px;

            width: 150px;
            }

        .login button{
            font-size:12px;
            background: yellow;
            border:solid 1px Green;
            width: 150px;
            height: 30px;
            color: #000000;
            border-radius: 5px;
            margin-left: 60px;
            }
            
        .login input[type="password"]{
            font-size: 12px;
            width: 150px;
            height: 20px;
            padding: 10px;
            border: none;
            background:  yellow;
        }    


        .publicidad_u{
           height: 80px;
           width: 400px;
           background: #0217ff;
           color: white;
           margin-bottom: 10px;
           margin: auto;
           border-radius: 10px;
           margin-bottom: 10px;
        }

        .publicidad_d{
            height: 80px;
            width: 400px;
            background:rgb(0, 0, 0);
            color: white;
            margin: auto;
            border-radius: 10px;
            margin-bottom: 10px;
         }

         .publicidad_d2{
            height: 80px;
            width: 400px;
            background:rgb(0, 0, 0);
            color: white;
            margin: auto;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            padding-top: 30px;
         }         

         @media(min-width:768px)
         {
          .formulario{
             margin: auto;
             width: 500px;
             margin-top: 40px;
             border-radius: 2%;
             }
         }


         .contenedor{
            width: 100%;
            padding: 15px;
        }

        /*.formulario{
            background: #8eecff; 
            margin-top: 15px;
            padding: 3px;
        }*/

        .formulario{

            margin-top: 30px;
            border-radius: 2%;
            min-height: 400px;
            background: #8eecff; 
        } 


         .input-contenedor h1{
            text-align: center;
            color: #1a2537;
            font-size: 40px;
        }
        .input-contenedor select{
            font-size: 20px;
            width: 82%;
            padding: 10px;
            border: none;
        
        }
        
        
        .input-contenedor input[type="text"],
        input[type="password"]{
            font-size: 20px;
            width: 82%;
            padding: 10px;
            border: none;
            background: #fdfafa;
        }
        
        
        .input-contenedor{
        
            margin-bottom: 15px;
            overflow: hidden;
        }
        
        
        .input-contenedor select{
            margin-left: 52px;
            margin-bottom: 15px;
            overflow: hidden;
        }
        
        
        
        .input-contenedor .icon{
            min-width: 50px;
            text-align: center;
        }
        
        
        .input-contenedor .icon select{
            min-width: 20px;
            text-align: center;
        }
         .button{
            margin-left: 17px;
            border: none;
            width: 90%;
            color: white;
            font-size: 20px;
            background:  #1a2537;
            padding: 15px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
          .button:hover{
            background: cadetblue;
        }
        p{
            text-align: center;
        }
        .link{
            text-decoration: none;
              color: #1a2537;
            font-weight: 600;
        }
        .link:hover{
             color: cadetblue;
        }
        
        
        .center{
            align-items: center;
            color: coral;
            text-align: center;
        }
        
        .msg{
        color: rgb(255, 87, 20);
        font-size: 20px;
        } 
            
   

/*-----------------------------------login prinsipal------------------------*/        
        .login-pago{
            margin:auto;
            background-color: #000000;
            color: white;
            font-size: 12px;
            padding: 30px;
            width: 400px;
            height: 350px;
            border:solid 10px LightSteelBlue;
            overflow: hidden;
            margin-top: 40px;
            }
            
        .login-pago fieldset{
            border: none;
            }
            
        .login-pago h1{
            text-align: center;
            }        
            
        .login-pago  ol li{
            line-height: 25px;
            list-style: none;
          padding-top: 20px;
            }
            
        .login-pago  [required]{
            border:solid 1px red;
            }
            
        .login-pago input:required {
            outline: 1px solid red;
            }
        
        .login-pago select{
                font-size:12px;
                background: yellow;
                border:solid 1px Green;
                border-radius: 5px;
                float: right;
                margin-right: 20px;        
                width: 250px;
                height: 30px;
              }

        .login-pago select option{
                background:white;
                color:red;
              }

        .login-pago select option:disabled{
                background: blue;
              }
        
        .login-pago input{
                font-size:12px;
                background: yellow;
                border:solid 1px Green;
                border-radius: 5px;
                float: right;
                margin-right: 20px;  
                height: 30px; 
                width: 250px;
                }
        
        .login-pago button{
                font-size:14px;
                background: yellow;
                color: black ;
                font-weight: 700;
                border:solid 1px Green;
                width: 350px;
                height: 30px;
                text-align: center;
               padding-top: 5px;
                margin-top: 15px;
                margin-right:20px;   
              
                }        