body{
display: flex;  
justify-content: center; 
align-content: center; 
}

.header{
    padding: 5px 120px;
    width: 150px;
    height: 70px;
    background-color: #236B8E; 
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 300px;
    border: 1px solid #236B8E;
    border-radius: 3%;
    background-color: #9AC0CD;
}

.btn {
    padding: 10px 40px;
    background-color: #236B8E; 
    color: #FFFFFF;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    background-color: #236B8E; 
    color: #FFFFFF;
    border-radius: 10px;
}
    




.bottom{
    color: #236B8E;
}

.center{
    align-items: center;
    color: coral;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }