
{% extends "layout.html" %}
{% block title %}informacion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<section id="cuotas" >
<form action="/data_cuotas" method="POST">     
<fieldset class="login">
   <ol>
   <legend><h1>LISTA DE PAGOS</h1></legend>
   <li>
   <label for="paradas">PARADA:</label>             
   <input type="text" name="parada" value="{{parada}}" id="paradas">
   </li>
   <li>                     
   <label for="fecha">FECHA:</label>
   <input type="text" name="time" value="{{fecha}}" id="fecha">
   </li>
   <li>
   <label for="miembro">NUMERO DE MIEMBROS:</label>
   <input type="text" name="numero" value="{{ cabecera[2]}}" id="miembro">         
   </li>
   <li>
   <label for="valor">CUOTA:</label>
   <input type="text" name="valor" value="{{ cabecera[0]}}" id="valor">
   </li>
   <li> 
 <legend>Tabla de pagos</legend>  
<table>
   <tr></tr>
      <th>ITEM</th>
      <th>PAGO</th>
      <th>NOMBRE_DEL_ASOCIADO</th>
      <th>CEDULA</th>
   </tr>
   {% for user in datos %}
   <tr>
      <td>
         <input  type="text" class="campo_item" name="item" value="{{ user[0]}}">
      </td>
      <td>
      <select name="estado" id="pagar">
      <option value="no_pago">no_pago</option>
      <option value="pago">pago</option>
      </select>
      </td>
      <td>
      <input type="text" class="campo_nombre" name="nombre" value="{{ user[1]}}">
      </td>
      <td>
      <input type="text" class="campo_id" name="documento" value="{{ user[2]}}" id="">
      </td>
   </tr>
   {%endfor%}
</table>
<button type="submit">ENVIAR</button>
</li>
</ol>
</fieldset>
</form>
</section>

<section id="bancos">
   <form action="data_bancos" method="post"> 
   {%for datos in informacion %}   
      <input type="hidden" name="parada" value="{{datos[2]}}" id="parada">  
   {%endfor%}
   <fieldset class="pago">
   <ol>
   <legend><h1>REPORTE BANCARIO</h1></legend>     
   <li>   
      {%for datos in informacion %}
      <h4>PARADA:{{datos[2]}}</h4>
      {%endfor%}
   </li>   

   <li>    
      <label for="tipo"><h4>REPORTE_BANCARIO</h4></label>
   </li>
   <li>    
      <label for="fecha">FECHA:</label>
      <input type="text" name="time" value="{{fecha}}" id="fecha">
   </li>
   <li>                   
      <label for="descripcion">BANCO:</label>
      <select name="nom_banco" id="descripcion">
         <option value="Banrreservas">Banrreservas</option>
      </select>
   </li>
   <li> 
      <label for="cuenta">TIPO DE CUENTA:</label>
      <select name="t_cuenta" id="cuenta">
         <option value="Sin cuentas">Sin cuentas</option>
         <option value="Cuenta de Ahorro">Cuenta de Ahorro</option>
         <option value="Cuenta Corriente">Cuenta Corriente</option>      
      </select>
   </li> 
   <li>     
      <label for="numero">CUENTA #:</label>
      <input type="text" name="n_cuenta" value="0000000000" id="numero">
   </li> 
   <li>    
      <label for="balance">BALANCE:</label>
      <input type="text" name="balance" value="0.0000" id="balance">
   </li>
   <li>
      <button type="submit">ENVIAR</button>
   </li> 
   </ol>   
   </form>     
</fieldset>
</section>
<section id="gastos">
<form action="data_gastos" method="post">
{%for datos in informacion %}   
   <input type="hidden" name="parada" value="{{datos[2]}}" id="parada">  
{%endfor%}  
<fieldset class="pago">
      <ol> 
         <legend><h3>REPORTE GASTOS </h3></legend>     
      <li> 
      {%for datos in informacion %}
      <h4>PARADA:{{datos[2]}}</h4>
      {%endfor%}
      </li>
      <li>
      <label for="fecha">FECHA:</label>
      <input type="text" name="time" value="{{fecha}}" id="fecha"> 
      </li>
      <li>              
      <label for="descripcion">DESCRIPCION:</label>
      <select name="descripcion_g" id="descripcion">
         <option value="No gastos">No gastos</option>
         <option value="Pago a la Administradora">Pago a la Administradora</option>
         <option value="Ayuda para la Federacion">Ayuda para la Federacion</option>
         <option value="Compra de casco protector">Compra de casco protector</option>
         <option value="Ayuada a Miembro">Ayuada a Miembro</option>
         <option value="Compra de respuestos">Compra de respuestos</option>
         <option value="Gastos segun Factura anexa">Gastos segun Factura anexa</option>
      </select>
      </li>  
      <li>      
      <label for="cantidad">CANTIDA:</label>
      <input type="text" name="cantidad_g" value="0.0" id="cantidad">
      </li>
      <button type="submit">ENVIAR</button>
   </ol>
   </fieldset>
   </form>
   </section>
   <section id="ingresos" >
   <form action="data_ingresos" method="post">
   {%for datos in informacion %}   
      <input type="hidden" name="parada" value="{{datos[2]}}" id="parada">  
   {%endfor%}   
   <fieldset class="pago">   
   <ol>
      <legend><h3>REPORTE DE INGRESOS</h3></legend>   
   <li>   
   {%for datos in informacion %}
      <h4>PARADA:{{datos[2]}}</h4>
   {%endfor%} 
   </li> 
   <li>
   <label for="fecha">FECHA:</label>
   <input type="text" name="time" value="{{fecha}}" id="fecha">
   </li> 
   <li>      
   <label for="descripcion_i">DESCRIPCION:</label>
   <select name="descripcion_i" id="descripcion_i">
      <option value="No ingresos">No ingresos</option>
      <option value="Ingresos por publicidad">Ingresos por publicidad</option>
      <option value="Aporte a la parada">Aporte a la parada</option>
      <option value="Ayuda del estado">Ayuda del estado</option>
      <option value="Recaudacion de Fondo">Recaudacion de Fondo</option>
      <option value="Ingreso segun recibo anexo">Ingreso segun recibo anexo</option>
   </select>
   </li>
   <li>
   <label for="cantidad">CANTIDA:</label>
   <input type="text" name="cantidad_i" value="0.0" id="cantidad">
   </li>
   <button type="submit">ENVIAR</button>
   </ol>
   </fieldset>
  </form>   
 </section>
<section id="prestamos" >
<form action="data_prestamos" method="post">  
{%for datos in informacion %}   
   <input type="hidden" name="parada" value="{{datos[2]}}" id="parada">  
{%endfor%}      
<fieldset class="pago">
<ol>
   <legend><h3>REPORTE PRESTAMOS</h3></legend>   
<li>
   {%for datos in informacion %}
      <h4>PARADA: {{datos[2]}}</h4>
   {%endfor%}
</li> 
<li>   
<label for="fecha">FECHA:</label>
<input type="text" name="time" value="{{fecha}}" id="fecha"><br>  
</li> 
<li> 
   <label for="beneficiado">BENEFICIADO:</label>  
   <select name="descripcion_p" id="beneficiado">         
      <option value="Sin Beneficiario ">Sin Beneficiario</option>
      {% for usuario in miembros %}
      <option value="{{usuario[1]}}">{{usuario[1]}}</option>
      {%endfor%}
   </select>
</li>
<li>
   <label for="monto">MONTO:</label>
   <input type="text" name="cantidad_p" id="monto" value="0.0">
</li>
   <button type="submit">ENVIAR</button>
</ol>
</fieldset>
</form>
</section>

<section id="prestamos" class="prestamos">
<form action="data_abonos" method="post">
{%for datos in informacion %}   
   <input type="hidden" name="parada" value="{{datos[2]}}" id="parada">  
{%endfor%}  
<fieldset class="pago">
<ol>
   <legend><h3>REPORTE DE ABONO A PRESTAMOS</h3></legend>   
   <li>
   {%for datos in informacion %}
   <h4>PARADA: {{datos[2]}}</h4>
   {%endfor%} 
   </li>                   
   <li>
   <label for="fecha">FECHA:</label>
   <input type="text" name="time" value="{{fecha}}" id="fecha">
   </li>
   <li>
   <label for="abonar">ABONAR A:</label>
   <select name="descripcion_a" id="abonar">                 
      <option value="Nigun Abono ">Nigun Abono</option>
      {% for usuario in miembros %}
      <option value="{{usuario[1]}}">{{usuario[1]}}</option>
      {%endfor%}
   </select>
   </li>

   <li>
   <label for="cantidad">CANTIDA:</label>
   <input type="text" name="cantidad_a" id="cantidad"  value=0.0>
   </li>
   <button type="submit">ENVIAR</button>
</ol>   
</fieldset>
</section>
{% endblock %}
