
{% extends "layout.html" %}
{% block title %}administracion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}

<section id="n_parada">
<div class="adm-info">   
    <div class="adm-body">
    <div class="adm-header">CREAR NUEVA PARADA</div>    
    <div class="entrar">    
    <form  method='POST'action="{{ url_for('nueva_p') }}" class="pago"> 
            <fieldset class="pago">
            <legend>Datos de la parada</legend>
            <ol>
            <li>
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" type="text" placeholder="Escribe el nombre de la parada" required autofocus>
            </li>
            <li>
            <label for="direccion">Direccion</label>
            <input id="direccion" name="direccion" type="text" placeholder="direccion" required>
            </li>
            <li>
            <label for="municipio">Municipio/Sector</label>
            <input id="municipio" name="municipio" type="text" required>
            </li>
            <li>
            <label for="provincia">Provincia</label>
            <input id="provincia" name="provincia" type="text" required>
            </li>
            <li>
            <label for="zona">Zona geografica</label>
            <input id="zona" name="provincia" type="text" required>
            </li>                  
            <li>
            <label for="cedula">Cedula</label>
            <input id="cedula" name="cedula" type="tel" placeholder="Ej. 00166889999" required>
            </li>
            <li>
            <label for="telefono">Telefono</label>
            <input id="telefono" name="telefono" type="tel" placeholder="Ej. 8096688999" required>
            </li>
            <li>
            <label for="funcion">Funcion</label>
            <input id="funcion" name="funcion" type="text" required>
            </li>
            </ol>
            </fieldset>
            -------------------------------------------------
            <fieldset class="pago">
            <button type="submit">Crear parada</button>
            </fieldset> 
            <div class="enviar">
                <input type="submit" value="Enviar" class="adm-button">
                <br>
                <a href="{{ url_for('logout') }}" class="btn">Salir</a>
            </div>
        </form>
        </div>
        </div>  
        </div>            
</section>
<section id="n_asociado">
<div class="adm-info">
    <div class="adm-header"><h1>AGREGAR NUEVO ASOCIADO</h1></div>
    <form action="" method="POST">
        <fieldset class="socios">
            <legend>Datos de los Socios(as)</legend>
            <label for="nombre">Nombre y apellidos: </label>
            <input id="nombre" type="text"><br>
    
            <label for="sexo">Sexo: </label>
            <select id="sexo">
                <!--Etiqueta option-->
                <option value="value1" selected>Hombre</option> 
                <option value="value2" >Mujer</option>
            </select><br><br>
    
            <label>Edad: </label>
            <input type="checkbox" value="20-39"> 20-39
            <input type="checkbox" value="40-59"> 40-59
            <input type="checkbox" value="60-79"> 60-79<br><br>
    
            <label>Educacion: </label>
            <input type="checkbox" value="ninguna"> Ninguna
            <input type="checkbox" value="20-39"> Primaria
            <input type="checkbox" value="40-59"> Secundaria
            <input type="checkbox" value="60-79"> Universitaria<br><br>        
    
            <label for="email">Cedula: </label>
            <input id="email" type="email"><br><br>
            <label for="email">Telefono: </label>
            <input id="email" type="email"><br><br>
            <label for="email">Email: </label>
            <input id="email" type="email"><br><br>
    
            <label for="estudios">Funcion: </label>
            <select id="estudios">
               <optgroup label="Funcion">
                  <option selected>Chofer</option>
                  <option >Secretario(a)</option>
                  <option>Presidente</option>
               </optgroup>
            </select><br><br>
    
          <label for="navegador">Elige tu navegador favorito: </label>
          <input id="navegador" list="browsers">
            <datalist id="browsers">
                <option value="Chrome">
                <option value="Firefox">
                <option value="Internet Explorer">
                <option value="Opera">
                <option value="Safari">
                <option value="Microsoft Edge">
            </datalist><br><br>
    
            <label for="mensaje">Escribe tu mensaje: </label>
            <textarea rows="10" cols="50" placeholder="Mensaje" id="mensaje"></textarea>
        </fieldset>  
        <input type="submit" value="Enviar">
    </form> 
</div>
</section>
<section id="editar_pa">
    <div class="adm-info">
        <div class="adm-header"><h1>EDITAR PARADA</h1></div>
        <form  method='POST'action="{{ url_for('editar_p') }}"> 
        
            <div class="adm-contenedor">
                <input type="text" name="parada_n" placeholder="Parada">       
            </div>
             
            <div class="adm-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="dir" placeholder="Direccion">    
            </div>
        
            <div class="adm-contenedor">
               <i class="fas fa-key icon"></i>
                <input type="text" name="sector" placeholder="Sector">       
            </div>
        
            <div class="adm-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="provincia" placeholder="Provincia">    
            </div>
            
        <div class="adm-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="text" name="region" placeholder="Region">       
        </div>
         
        <div class="adm-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" name="aporte" placeholder="Aporte">    
        </div>
        <input type="submit" value="Login" class="button">
    </form>
    <h2><a href="{{ url_for('logout') }}" class="btn">Salir</a></h2> 
    </div>
</section>

<section id="editar_as">
    <div class="adm-info">
        <div class="adm-header"><h1>EDITAR ASOCIADOS</h1></div>
        <form action=" " method="POST">
            <fieldset>
                <legend>Datos de los Socios(as)</legend>
                <label for="nombre">Nombre y apellidos: </label>
                <input id="nombre" type="text"><br>
        
                <label for="sexo">Sexo: </label>
                <select id="sexo">
                    <!--Etiqueta option-->
                    <option value="value1" selected>Hombre</option> 
                    <option value="value2" >Mujer</option>
                </select><br><br>
        
                <label>Edad: </label>
                <input type="checkbox" value="20-39"> 20-39
                <input type="checkbox" value="40-59"> 40-59
                <input type="checkbox" value="60-79"> 60-79<br><br>
        
                <label>Educacion: </label>
                <input type="checkbox" value="ninguna"> Ninguna
                <input type="checkbox" value="20-39"> Primaria
                <input type="checkbox" value="40-59"> Secundaria
                <input type="checkbox" value="60-79"> Universitaria<br><br>        
        
                <label for="email">Cedula: </label>
                <input id="email" type="email"><br><br>
                <label for="email">Telefono: </label>
                <input id="email" type="email"><br><br>
                <label for="email">Email: </label>
                <input id="email" type="email"><br><br>
        
                <label for="estudios">Funcion: </label>
                <select id="estudios">
                   <optgroup label="Funcion">
                      <option selected>Chofer</option>
                      <option >Secretario(a)</option>
                      <option>Presidente</option>
                   </optgroup>
                </select><br><br>
        
              <label for="navegador">Elige tu navegador favorito: </label>
              <input id="navegador" list="browsers">
                <datalist id="browsers">
                    <option value="Chrome">
                    <option value="Firefox">
                    <option value="Internet Explorer">
                    <option value="Opera">
                    <option value="Safari">
                    <option value="Microsoft Edge">
                </datalist><br><br>
        
                <label for="mensaje">Escribe tu mensaje: </label>
                <textarea rows="10" cols="50" placeholder="Mensaje" id="mensaje"></textarea>
            </fieldset>  
            <input type="submit" value="Enviar">
        </form>    
        <h2><a href="{{ url_for('logout') }}" class="btn">Salir</a></h2>  
    </div>
</section>
<section id="suspender_pa">
    <div class="adm-info">
        <div class="adm-header"><h1>SUSPENDER PARADA</h1></div>
        <h2><a href="{{ url_for('logout') }}" class="btn">Salir</a></h2>  
    </div>
</section>
<section id="suspender_as">
    <div class="adm-info">
        <div class="adm-header"><h1>SUSPENDER ASOCIADOS</h1></div>
        <h2><a href="{{ url_for('logout') }}" class="btn">Salir</a></h2>   
    </div>
</section>
{% endblock %}
