<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administracion</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">    
</head>
<body>
    <div class="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Administrador</h1>
                </div>
			    <h2 class="word">
				<form action="{{url_for('login_a')}}" method="post">
					{% with messages = get_flashed_messages()%}
					{% if messages%}
					  {% for message in messages%}
					  <div class="msg">{{message}}</div>
					  {%endfor%}
					  {%endif%}
					  {%endwith%}
                    <input id="parada" name="parada" type="text" value="{{parada}}" class="input-contenedor" /></br></br>
					<input id="cedula" name="cedula" type="text" placeholder="Numero de cedula del administrador" class="input-contenedor"/></br></br>
					<input id="password" name="password" type="password" placeholder="Entre su Password" class="input-contenedor"/></br></br></br>
					<input type="submit" class="btn" value="Ingresar">
				</form>
		</div>
    </div>
</body>
</html>