{% extends "layout.html" %}
{% block title %}administracion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<fieldset class="login">           
	<form action="{{url_for('login_a')}}" method="post">
	<ol>
	<legend><h1>Administrador</h1></legend> 	
	<li>	
	<div class="msg">{{message}}</div>
	</li>
	<li>	
	<label for="parada">Parada</label>			
	<input id="parada" name="parada" type="text" value="{{parada}}"/>
	</li>
	<li>
	<label for="cedula">Cedula</label>
	<input id="cedula" name="cedula" type="text" placeholder="Entre su cedula"/>		
	</li>
	<li>
	<label for="password">Contraseña</label>
	<input id="password" name="password" type="password" placeholder="Entre su Password"/>
	</li>
	<button type="submit" class="btn" >Ingresar</button>
	</ol>	
	</form>
</fieldset>
{% endblock %}